<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
   For more configuration infromation and examples see the Apache Log4j website: http://logging.apache.org/log4j/
 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Target" value="System.out"/>

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d %-5p [%c{1}] (%t) %m%n"/>
        </layout>
    </appender>


    <!-- ================ -->
    <!-- Limit categories -->
    <!-- ================ -->

    <category name="org.infinispan">
        <priority value="INFO"/>
    </category>

    <category name="org.infinispan.quickstart.clusteredcache">
        <priority value="INFO"/>
    </category>

    <category name="org.jgroups">
        <priority value="WARN"/>
    </category>

    <!-- ======================= -->
    <!-- Setup the Root category -->
    <!-- ======================= -->

    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
